body{
    background-color: #5D7A9C;
}
h1{
    text-align: center;
    color:#FFBF03;
}
.menu{
    position: absolute;
    width: 50%;
    height: 400px;
    left: 100px;
    top: 50px;
    background-color: burlywood;
    border:solid 2px cornflowerblue;
    z-index: 10;
    
}
.container{
    position: relative;
    width: 1000px;
    height: 500px;
    /* //background-color:tan; */
    background-image: url("./game/b1.jpg");
    background-size: 100%;
   
    box-shadow: 4px 4px 15px #777;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;

}

.container:hover{
    box-shadow: 2px 2px 15px #333;
}
.leftside{
    width: 250px;
    height: 195px;
    background-color: #1D2E4A;
    position: absolute;
    top:450px;
    border-radius: 10px;
    
}
.rigthside{
    width: 250px;
    height: 195px;
    background-color: #1D2E4A;
    position: absolute;
    top:450px;
    left:750px;
    border-radius: 10px;
}
.boat{
    width: 100px;
    height: 70px;
    /* background-color: brown; */
    position: absolute;
    top: 410px;
    left: 260px; 
    border-radius: 5px;
    /* max-left 790 */
    cursor: pointer;
}
.boat img{
    width: 100px;
   
}
/* .boat:hover{
    
    background-color: rgb(148, 97, 97);
    
} */
.man{
    position: absolute;
    top:400px;
    z-index: 2;
    cursor: pointer;
}
#man1{
    left:10px;
}
#man2{
    left:50px;
}
#man3{
    left:90px;
}
#man4{
    left:130px;
}
#man5{
    left:170px;
}
#man6{
    left:210px;
}